$box-shadow-ff: 1px 2px 4px 2px rgba(201, 201, 201, 0.3);

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  border-radius: 15px;
  box-shadow: $box-shadow-ff;
  position: relative;
  width: 150px;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 2px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 2px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 2px 30px 60px -30px;
  }

  .file-information {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 15px;
    padding: 5px;
    background-color: #ececf2;

    @media (max-width: 600px) {
      width: 70px;
      height: 70px;
      padding: 10px;
      margin: 10px auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 15px;
    }
  }

  &-menu {
    position: absolute;
    top: 0;
    right: 0;
  }
}
