$box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
$black-shadow: rgb(0 120 120 / 64%) 0px 5px 15px;

.form.update {
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  background-color: #fff;
  margin: auto;

  &.dark {
    box-shadow: $black-shadow;
    background-color: #121212;
  }

  // #29252D

  @media (max-width: 330px) {
    width: 300px;
  }
  @media (min-width: 331px) and (max-width: 600px) {
    width: 370px;
  }

  &-input {
    width: 100%;
  }
  &-header {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
  }
  &-btn {
    width: 60%;
    margin: auto;
  }
}

.account {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  & > * {
    margin: 0 5px;
  }

  & > a {
    color: #5a65f3;
    font-weight: bold;
  }
}
.forget-p {
  text-align: right;
}

.error {
  color: red;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
}
