.folder {
  align-items: center;
  position: relative;
  padding: 1px;
  // background-color: aqua;
  margin-bottom: 5px;

  .folder-detail {
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: center;

    .folder-name {
      margin-top: -17px;
      text-align: center;
      // font-weight: bold;
      color: rgb(14, 13, 13);
    }
  }

  .folder-icons {
    position: relative;
  }
  .icon-main {
    font-size: 135px;
    color: #a3a9df;
    left: 20px;
  }
  .icon-sub {
    position: absolute;
    bottom: 15px;
    font-size: 55px;
    color: #5a65f3;

    right: 20px;
  }
}
.folder-icons-wrapper {
  display: block;
}
