$black-shadow: rgb(0 120 120 / 64%) 0px 5px 15px;

.callToAction {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .cta {
    margin-top: 60px;
    height: 200px;
    width: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    color: #5a65f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: inherit;
    font-size: 24px;

    @media (max-width: 900px) {
      margin: 0 auto;
      width: 98%;
    }

    &.dark {
      box-shadow: $black-shadow;
    }
  }
}
