$box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
$black-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
.user-acc {
  width: 500px;
  box-shadow: $box-shadow;
  background-color: #fff;

  padding: 20px;

  &.dark {
    background-color: #121212;
    box-shadow: $black-shadow;
    color: #ccc;
  }
  @media (max-width: 330px) {
    width: 300px;
  }
  @media (min-width: 331px) and (max-width: 600px) {
    width: 370px;
  }

  &__pro-title {
    font-size: 20px;
    text-align: center;

    @media (max-width: 330px) {
      font-size: 18px;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  p {
    font-size: 16px;
    padding: 10px;

    @media (max-width: 600px) {
      align-self: flex-start;
    }
  }
}

.div-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.img-upl {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  overflow: hidden;

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-input {
  display: none;
  visibility: hidden;
}

.save-change {
  display: flex;
  align-items: center;
}
