.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    margin-top: 50px;
  }

  img {
    width: 70%;
    @media (min-width: 610px) {
      width: 40%;
      margin: 30px auto;
    }
  }
}
