.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.footer-left-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  list-style-type: none;
  @media (max-width: 600px) {
    width: 90%;
    margin: 5px auto;
  }
  &.copy {
    order: 1;
  }
  &.dark {
    color: #927dac;
  }
}
.footer-right-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  list-style-type: none;

  @media (max-width: 600px) {
    width: 90%;
    margin: 5px auto;
  }
}

.footer-item-icon {
  display: flex;
  align-items: center;
}

.footer-icon {
  font-size: 36px;
  color: #52a;

  &.dark {
    color: #927dac;
  }
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  color: #927dac;

  @media (max-width: 600px) {
    flex-direction: column;

    .cpy-year {
      order: 3;
      padding-bottom: 8px;
    }
    .creator {
      order: 2;
      padding-bottom: 8px;
    }
  }
}
// .support-me {
//   background-color: #92a8d8;
//   padding: 10px 20px;
//   border-radius: 20px;
// }
