.folders-view,
.file-view,
.recents-view {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  @media (max-width: 600px) {
    justify-content: space-between;
    padding: 0 5px;
  }
  > * {
    margin: 8px;

    @media (max-width: 600px) {
      margin: 6px 2px;
    }
  }
}

.recent-header {
  display: none;
  visibility: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 10px;

  @media (max-width: 600px) {
    display: flex;
    visibility: visible;
  }
}

.recent-details {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;

  p {
    color: #999;
    font-size: 14px;
    padding: 5px 0;
  }
}
