.recents-view {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  @media (max-width: 600px) {
    justify-content: space-evenly;
  }
  > * {
    margin: 8px;

    @media (max-width: 600px) {
      margin: 10px 2px;
    }
  }

  // .file {
  //   margin-top: 30px;
  // }
}

.recent-header {
  display: none;
  visibility: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 10px;

  @media (max-width: 600px) {
    display: flex;
    visibility: visible;
  }
}
